:root {
  --text-color: black;
  --border-color: #acacac;
  --bg-color: white;
  --footer-color: #d7d7d7;
  --outfit-bg-color: #f3f3f3;
  --header-color: #f8f8f8;
}

.App {
  align-content: right;
}

